.form-container {
  /* border: 1px solid rgb(207, 221, 9); */

  display: flex;
  flex-direction: column;

  width: 375px;;
}

.form-inputs {
  display: flex;
  flex-direction: column;

  padding: 0 25px;
}

input {
  transition: all 0.3s ease-in-out;
}

select {
  transition: all 0.3s ease-in-out;
}

textarea {
  transition: all 0.3s ease-in-out;
}

.form-inputs input:hover {
  background-color: var(--dark-2);
}


.form-inputs input:focus {
  outline: none;
  border-color: var(--verde-1);
  background-color: var(--dark-2);
}

.form-inputs select:hover {
  background-color: var(--dark-2);
}

.form-inputs select:focus {
  outline: none;
  border-color: var(--verde-1);
  background-color: var(--dark-2);
}

.form-inputs textarea:hover {
  background-color: var(--dark-2);
}

.form-inputs textarea:focus {
  outline: none;
  border-color: var(--verde-1);
  background-color: var(--dark-2);
}

.form-inputs input {
  width: 327px;
  height: 46px;
  flex-shrink: 0;

  background-color: #242424;
  padding: 0 20px;

  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: none;
  border-left: none;
}

.form-inputs select {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: none;
  border-left: none;

  background-color: #242424;
  padding: 0 20px;

  width: 327px;
  height: 46px;
  flex-shrink: 0;

  color: #FFF;
}

.form-inputs textarea {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: none;
  border-left: none;

  background-color: #242424;
  resize: none;
  padding: 20px 20px;

  width: 327px;
  height: 131px;
  flex-shrink: 0;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  gap: 10px;

  color: #00EC5B;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.talk {
  margin: 30px;
}

.talk h2 {
  color: #FFF;
  font-family: Artigo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.social {
  width: 104px;
  height: 16px;
  flex-shrink: 0;

  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding-left: 10px;
}

.footer span {
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer div{
  display: flex;
  align-items: center;
  justify-content: center;

  color: #FFF;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer img {
  width: 84px;
  height: 54px;
  flex-shrink: 0;
}

.button-2 {
  margin: 25px;

  width: 193px;
  height: 56px;
  flex-shrink: 0;

  border-radius: 50px;
  background: var(--verde-1);
}

.button-2:hover {
  background-color: var(--hover-1);
}



@media screen and (min-width: 768px ) and (max-width: 1440px) {
  .form-container {
    /* border: 1px solid rgb(207, 221, 9); */
  
    display: flex;
    flex-direction: column;
  
    width: 768px;
  }
  
  .form-inputs {
    display: flex;
    flex-direction: column;
  
    padding: 0 25px;
  }
  
  input {
    transition: all 0.3s ease-in-out;
  }
  
  select {
    transition: all 0.3s ease-in-out;
  }
  
  textarea {
    transition: all 0.3s ease-in-out;
  }
  
  .form-inputs input:hover {
    background-color: var(--dark-2);
  }
  
  
  .form-inputs input:focus {
    outline: none;
    border-color: var(--verde-1);
    background-color: var(--dark-2);
  }
  
  .form-inputs select:hover {
    background-color: var(--dark-2);
  }
  
  .form-inputs select:focus {
    outline: none;
    border-color: var(--verde-1);
    background-color: var(--dark-2);
  }
  
  .form-inputs textarea:hover {
    background-color: var(--dark-2);
  }
  
  .form-inputs textarea:focus {
    outline: none;
    border-color: var(--verde-1);
    background-color: var(--dark-2);
  }
  
  .form-inputs input {
    width: 710px;
    height: 46px;
    flex-shrink: 0;
  
    background-color: #242424;
    padding: 0 20px;
  
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: none;
    border-left: none;
  }
  
  .form-inputs select {
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: none;
    border-left: none;
  
    background-color: #242424;
    padding: 0 20px;
  
    width: 710px;
    height: 46px;
    flex-shrink: 0;
  
    color: #FFF;
  }
  
  .form-inputs textarea {
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: none;
    border-left: none;
  
    background-color: #242424;
    resize: none;
    padding: 20px 20px;
  
    width: 710px;
    height: 131px;
    flex-shrink: 0;
  }
  
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    gap: 10px;
  
    color: #00EC5B;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .talk {
    margin: 30px;
  }
  
  .talk h2 {
    color: #FFF;
    font-family: Artigo;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .social {
    width: 104px;
    height: 16px;
    flex-shrink: 0;
  
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    padding-left: 10px;
  }
  
  .footer span {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .footer div{
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: #FFF;
    font-family: Inter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .footer img {
    width: 84px;
    height: 54px;
    flex-shrink: 0;
  }
  
  .button-2 {
    margin: 25px;
  
    width: 193px;
    height: 56px;
    flex-shrink: 0;
  
    border-radius: 50px;
    background: var(--verde-1);
  }
  
  .button-2:hover {
    background-color: var(--hover-1);
  }
}



@media screen and (min-width: 1440px ) {
  .form-container {
    /* border: 1px solid rgb(207, 221, 9); */
  
    display: flex;
    flex-direction: column;
  
    width: 1440px;;
  }
  
  .form-inputs {
    display: flex;
    flex-direction: column;
  
    padding: 0 25px;
  }
  
  form {
    display: flex;
    align-items: center;
  }

  input {
    transition: all 0.3s ease-in-out;
  }
  
  select {
    transition: all 0.3s ease-in-out;
  }
  
  textarea {
    transition: all 0.3s ease-in-out;
  }
  
  .form-inputs input:hover {
    background-color: var(--dark-2);
  }
  
  
  .form-inputs input:focus {
    outline: none;
    border-color: var(--verde-1);
    background-color: var(--dark-2);
  }
  
  .form-inputs select:hover {
    background-color: var(--dark-2);
  }
  
  .form-inputs select:focus {
    outline: none;
    border-color: var(--verde-1);
    background-color: var(--dark-2);
  }
  
  .form-inputs textarea:hover {
    background-color: var(--dark-2);
  }
  
  .form-inputs textarea:focus {
    outline: none;
    border-color: var(--verde-1);
    background-color: var(--dark-2);
  }
  
  .form-inputs input {
    width: 1230px;
    height: 46px;
    flex-shrink: 0;
  
    background-color: #242424;
    padding: 0 20px;
  
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: none;
    border-left: none;
  }
  
  .form-inputs select {
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: none;
    border-left: none;
  
    background-color: #242424;
    padding: 0 20px;
  
    width: 1230px;
    height: 46px;
    flex-shrink: 0;
  
    color: #FFF;
  }
  
  .form-inputs textarea {
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: none;
    border-left: none;
  
    background-color: #242424;
    resize: none;
    padding: 20px 20px;
  
    width: 1230px;
    height: 131px;
    flex-shrink: 0;
  }
  
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    gap: 10px;
  
    color: #00EC5B;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .talk {
    margin: 30px;
  }
  
  .talk h2 {
    color: #FFF;
    font-family: Artigo;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .social {
    width: 104px;
    height: 16px;
    flex-shrink: 0;
  
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    padding-left: 10px;
  }
  
  .footer span {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .footer div{
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: #FFF;
    font-family: Inter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .footer img {
    width: 84px;
    height: 54px;
    flex-shrink: 0;
  }
  
  .button-2 {
    margin: 25px;
  
    width: 193px;
    height: 56px;
    flex-shrink: 0;
  
    border-radius: 50px;
    background: var(--verde-1);
  }
  
  .button-2:hover {
    background-color: var(--hover-1);
  }
}