:root {
  background-color: #242424;

  --verde-1:  #00EC5B;
  --dark-1:  #1B1F1C;
  --dark-2: rgba(255, 255, 255, 0.20);


}

* {
  @import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap');
  box-sizing: border-box;

  font-family: 'Inika', serif;
}