.banner-container {
  /* border: 1px solid rgb(10, 2, 117); */
  background-color: #FFF;

  width: 375px;
  padding-top: 120px;
}

.banners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-h3 {
  color: #0E0E0E;
  font-family: Artigo;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.button-3 {
  width: 193px;
  height: 56px;
  flex-shrink: 0;

  border-radius: 30px;
  background: var(--dark-1);
  color: #FFF;

  box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 1);
  /* transition: background-color 0.3s ease-in-out; */
  transition: all 0.3s ease-in-out;
}

.button-3:hover{
  background-color: var(--hover-1);
}

.button-3:active{
  background-color: var(--hover-1);
  border-radius: 180px;
  border: 3px solid var(--border-1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.banner-publi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 326px;
  height: 288px;
  flex-shrink: 0;

  background: var(--dark-1);
}

.banner-h2 {
  width: 255px;

  color: #FFF;
  text-align: center;
  font-family: Artigo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-a-h2 {
  color: #FFF;
  font-family: Lexend Deca;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img-banner-1 {
  width: 327px;
  height: 520px;
  flex-shrink: 0;
}

.publi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;

  width: 374px;
  height: 370px;
  flex-shrink: 0;

  background-color: #00EC5B;
}

.publi-img {
  width: 149.267px;
  height: 262.174px;
  flex-shrink: 0;

  position: absolute;
  /* top: 3200px; */
  top: 455%
}

.bann2 {
  padding-bottom: 50px;
}